<?php  ?>
<div class="modular-row process">
	{{ content }}
	<div class="process-wrap">
		<h2>The xDCI Process</h2>
		<div class="step-row">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/it_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">01</div>
				<div class="step-description">
					<h4>Information Technology Concierge</h4>
					<p>The xDCI Information Technology (IT) Concierge staff will work with your team to move your project from concept to a productive and efficient combination of select xDCI technologies, in effect creating a unique xDCI-based architecture for your project.</p>
				</div>
			</div>
		</div>
		<div class="step-row">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/software_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">02</div>
				<div class="step-description">
					<h4>Sustainable Software Concierge</h4>
					<p>The xDCI Sustainable Software Concierge staff will serve as technical project managers and work with your team to deploy your project on the appropriate cloud infrastructure.  Once deployed, they will work with your team to instill sustainable software best practices to ensure efficient and persistent continuation of your project over time.</p>
				</div>
			</div>
		</div>
		<div class="step-row" id="step-row-3">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/data_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">03</div>
				<div class="step-description">
					<h4>Data Science Concierge</h4>
					<p>The xDCI Data Science Concierge staff will offer data science expertise in how to extract maximum scientific and community benefit from your deployment of xDCI. These staff are experts in data science analytics and visualization using the latest technologies and methods that will accelerate your community to new levels of achievement.</p>
				</div>
			</div>
		</div>
</div>