<?php  ?>
<div class="modular-row about">
	{{ content }}
	<div class="about-icon-wrap">
		<div class="icon-item">
			<img src="user/themes/eds/images/EDS_icon.png" />
			<div class="icon-text">
				<b>Earth Data Science</b> - Providing solutions to data-related challenges of the study of the Earth and Environment
			</div>
		</div>
		<div class="icon-item">
			<img src="user/themes/eds/images/datamodeling_icon.png" />
			<div class="icon-text">
				<b>Modeling</b> - Addressing the intersection of high performance and high throughput computing with Earth research
			</div>
		</div>
		<div class="icon-item">
			<img src="user/themes/eds/images/socialdata_icon.png" />
			<div class="icon-text">
				<b>Social Aspects of Earth Data Science</b> - Building communities and stakeholder Alignment
			</div>
		</div>
		<div class="icon-item">
			<img src="user/themes/eds/images/Cyberinfrastructure_Icon.png" />
			<div class="icon-text">
				<b>Cyberinfrastructure</b> - Leveraging advanced cyberinfrastructure for Earth research
			</div>
		</div>
	</div>
</div>